@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:100px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


*{
	padding: 0;
	margin: 0;
}
.top-top{
	background-color:#333;
}
.top{
	height: 111px;
	line-height: 110px;
}
.top div{
	display: inline-block;
}
.top-right ul {
  list-style: none;
}
.top-right ul li{
	float: left;
	margin-right: 20px;
}
.top-right ul li a{
	color: white;	
	font-size: 10px;
}
.top-right ul li a:hover{
	color: blue;
	text-decoration: none;
}
.Carouselfigure img{
	width: 100%;
}
.chage ul li{
	width: 150px;
	height: 25px;
	border: 1px solid white;
	border-radius: 10px;
	background-color:rgba(255,255,255,0.6);
	float: left;
	list-style: none;
	margin-left: 10px;

}
.chage ul{
	position: absolute;
	top: 800px;
	right: 695px;
}
.picture {
	width: 100%;
	display: none;
}
.xianshi {
	display: block;
}
.picture1{
	display: inline-block;
}
.picture-title{
	display: inline-block;
	position: absolute;
	top: 250px;
	right: 900px;
	color: white;
}
.picture-title a{
	display: inline-block;
	width: 210px;
	height: 50px;
	line-height: 50px;
	border: 1px solid white;
	border-radius: 100px;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-top: 20px;
	cursor:pointer;
}
.picture-title p{
	margin-top: 15px;
}
.picture-title a:active{
	color: red;
}
.About{
	margin-top: 50px;
}
.About .About-title{
	text-align: center;
	font-size: 20px;
}
.About .About-title span{
	font-weight: bold;
}
.About .About-title1{
	text-align: center;
	font-size: 18px;
}
.About-foot{
	text-align: center;
}
.iconfont{
	color: blue;
}
.About h2{
	font-size: 40px;
}
.Services-pupic{
	background-color:#05A4C2;
	color: white;
	height: 350px;
	line-height: 300px;
	margin-top: 50px;
}

.Services h2{
	font-weight: 900;
	position: relative;
	top: 50px;
}
.Services label{
	display: block;
	height:2px;
	background: #4DBCD3;
	width: 10%;
	margin-top: 1px;
}
.Services-lie ul{
	position: relative;
	right: -50px;
}
.Services-lie ul li{
	float: left;
	list-style: none;
}
.Services-lie ul li a{
	width: 83px;
	height: 83px;
	display: inline-block;
	border: 2px solid white;
	border-radius: 150px;
	line-height: 100px;
	text-align: center;
	margin-left: 60px;
}
.Services-lie ul li a span{
	color: white;
	font-size: 30px;
}
.po{
	display: inline-block;
	height: 1000px;
	width: 100%;
	background: url(../img/port-bg.jpg)no-repeat;
	background-size: cover;
	margin-top: -17px;
	padding: 50px 0px 0px 0px ;
}
/*.po-top{
	text-align: center;
}*/
.po-top h2{
	display: inline-block;
	color: #4F6268;
}
.po-top label{
	display: block;
	height:2px;
	background: #4F6268;
	width: 10%;
	margin-top: -10px;
}
.po-right{
	display: inline-block;
	float: right;
	margin-left: 518px;
	position: relative;
	top: -40px;
}
.po-right ul  li{
	list-style: none;
	float: left;
	margin-left: 20px;
}
.po-right ul  li span{
	margin-left: 10px;
}
.po-right ul  li a{
	color: black;
}
#po-first{
	color: #67C6DA;
}
.po-img-first {
	padding: 0;
	margin: 0;
}
.po-img-first img{
	width: 381px;
	height: 192px;
	overflow: hidden;
}
.po-img-first .col-lg-4{
	text-align: center;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.po-img-first .col-lg-4 h4 a{
	color: #222730;
	font-weight: 600;
	text-decoration: none;
	cursor:pointer;
	
}
.po-img-first .col-lg-4 span{
	color: #747474;
	font-size: italic;
	font-size: 0.875em;
}
.po-img-foot{
	background-color: white;
	height: 85px;
	width: 381px;
	margin-top: -8px;
	padding: 12px 0 0 0 ;
}
#only{
	
	font-size: 40px;
	color:transparent;
	position: absolute;
	left: -100px;
	top: 60px;
	/*display: none;*/
	transition: all 10s;
	-moz-transition: all 1s;	/* Firefox 4 */
	-webkit-transition: all 1s;	/* Safari 和 Chrome */
	-o-transition: all 1s;/* Opera */
}

.hover:hover #only{
	left: 180px;
	color: red;
	top: 60px;
}
.middle{
	background: url(../img/test-bg.jpg)no-repeat;
	background-size: cover;
	height: 363px;
	width: 100%;
	text-align: center;
	padding: 45px;
	color: white;
}
.middle-left img{
	border-radius: 50%;
}
.midlle-right{
	margin-top: 45px;
	color: #FFF;
}


.pepople{
	margin-top: 50px;
}
.pepople-top  img{
	width: 350px;
	height: 196px;
	border:1px solid #eee;
}
.pepople-top .col-lg-12 .col-lg-4{
	text-align: center;
}
.pepople-top a{
	color: black;
	font-size: 25px;
	text-decoration: none;
}
.pepople-top  h5{
	color: #C8C8C8;
}
.pepople-top span{
	border: 1px solid #CECECE;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color:#CECECE ;
	margin-right: 10px;
	color: white;
}

.logo{
	background: url(../img/brand-bg1.jpg)no-repeat;
	width: 100%;
	height: 200px;
	background-size: cover;
	line-height: 200px;
	overflow: hidden;
	margin-top: 100px;
}
.logo-logo ul li{
	float: left;
	margin-left: 190px;
	list-style: none;
}

.contact{
	background: url(../img/contact-bg.jpg)no-repeat;
	height: 735px;
	width: 100%;
	background-size: cover;
	margin-top: 200px;
}
/*.contact-top{
	margin-top: 50px;
}*/
.contact-left{
	margin-top: 20px;
	padding: 80px 0 0 0;
}
.contact-left h3{
	color: white;
	font-size: 40px;
}
.contact-left label{
	display: block;
	height: 1px;
	width: 20%;
	background-color: white;
	margin-top: -10px;
}
.contact-left input{
	display: block;
	width: 540px;
	height: 39px;
	/*line-height: 39px;*/
	margin-top: 30px;
	border-radius: 6px;
	padding: 0 0 0 20px;
}
#ipt{
	width:540px ;
	height:160px ;
	line-height: 10px;
}
.lianjie a{
	display: inline-block;
	width: 104px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #0894AD;
	color: white;
	float: right;
	margin-top: 30px;
	margin-right: 29px;
	border-radius: 10px;
}
.contact-a{
	float: left;
	margin-top: 41px;
	font-size: 17px;
}
